<div class="center">
  <h1>Jason Waataja</h1>
  <%= image_tag("senior_photo_small.jpg", alt: "Jason Waataja") %>
  <p>This is my personal website for UW.</p>
  <div id="links">
    <h2>Links:</h2>
    <ul>
      <li><%= link_to "GitHub", "https://github.com/JasonWaataja"%></li>
    </ul>
  </div>
</div>
